/**
 * Created by mnjk3 on 2022-09-16.
 */

.THIS .slds-input {
    width : 100%;
    padding-left: 0.65rem;
}

.THIS .bold {
    font-weight : bold;
}

.THIS .slds-spaceLetter {
   text-align:left;
}

.THIS .lastBox {
    margin-bottom : 0px;
}

.THIS .classInput_Font2 {
    font-size: 4px;
    width: 30%;
}

.THIS .tabLayout-sld {
    text-align:left !important;
    width:100%;
}

.THIS .invalidMsg {
   padding-left : 8px;
   color : red;
}

.THIS .slds-box {
    padding : 1rem;
}

.THIS .slds-form-element__help {
    display:none;
}

.THIS .leftBox {
    padding-top : 0.5rem !important;
}

.THIS .slds-has-error, .THIS .slds-input {
    --slds-c-input-shadow : none !important;
    --slds-c-input-color-border : var(--lwc-borderWidthThin,1px) solid var(--slds-c-input-color-border, var(--sds-c-input-color-border, var(--slds-g-color-border-base-4, var(--lwc-colorBorderInput,rgb(201, 201, 201)))));
    --slds-c-input-color-background : none !important;
}

.THIS .uploadBox .slds-form-element__control {
    display : inline-block !important;
}

.THIS .slds-form-element__label {
    width : 33%;
}